{% extends 'ApplicationPortfolioBundle::layout.html.twig' %}

{% block header %}
	<div id="logo"></div>
	{% include 'ApplicationPortfolioBundle:Gallery:menu.html.twig' with {'all_menu': all_menu} %}
{% endblock %}
{% block body %}
	<div class="photo-slider">
	{% for img in images  %}
	<img src="{{ img.url }}" />
	{% endfor %}
	</div>
{% endblock %}