.wrapper {text-align: center}
.column {width: 85%; text-align: left; margin: 0 auto; height:600px; border:1px solid black; height:auto; overflow:hidden}
.header {height:30px}
#cssmenu{margin-bottom:2px}
.big-image-container { width:auto; overflow:hidden; border:1px solid #A59791}
    .big-image {max-width:100%; display:block}
.slider {
	width:78px;
	/* line-up top with the big image */
	margin-top:-4px;
	/* set height only as for single image - that will make visible only images in
	this column which feet into container */
	height:78px;
}
    .slider-item-link {display:block; margin: 5px 2px 5px 2px}
        .slider-image {border: 1px solid #A59791; display:block}

.fl{float:left}
.fr{float:right}
#menu-edit, #photo-edit, #uploader, #text-edit, #img-edit{display:none;}
#cssmenu-edit, #photo-edit{min-width:300px;min-height:200px}
#sortable{list-style: none;margin: 0 auto;}
#sortable li{float: left;}
.tinyEdit{
	min-width:540px;
	min-height:300px;
}
#login{
	margin: 0 auto;
	width: 200px;
	text-align: center;
	border: 1px solid black;
	height: 130px;
	padding-top: 10px;
}
