{% extends 'ApplicationPortfolioBundle::layout.html.twig' %}

{% block body %}
	<div class="gallery-container">

		<div class="big-image-container">
			<div class="text-container">бла-бла</div>
			
		</div>

	</div>
{% endblock %}