{% extends 'ApplicationPortfolioBundle::layout.html.twig' %}

{% block body %}
	<div class="gallery-container">

		<div class="big-image-container">
			{% render url('page', {'name' : name }) %}
		</div>

	</div>
{% endblock %}