<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Сайт фотографа{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/applicationportfolio/css/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/applicationportfolio/css/menu.css') }}" />
</head>
<body>
    <div class="wrapper">
        <div class="column">
            <div class="header">

            </div>

            {% render url('menu') %}
            <div class="gallery-container">

                <div class="big-image-container">
                    <img class="big-image" src="http://www.shtern.ru/storage/photos/21/0_ekatirina-stern-d913ba37d4d1b2b1c115a625a41d854e.jpg" style="width:100%"/>
                </div>

            </div>

            <div style="clear:both"></div>
        </div> <!-- column -->
    </div> <!-- wrapper -->
</body>
</html>
