<ul>
	<li><a href='#'><span>Главная</span></a></li>
	<li class='has-sub '><a href='#'><span>Портфолио</span></a>
		<ul>
			<li><a href='#'><span>Галерея 1</span></a>
			</li>
			<li><a href='#'><span>Галерея 2</span></a>
			</li>
		</ul>
	</li>
	<li><a href='#'><span>Обо мне</span></a></li>
	<li><a href='#'><span>Цены</span></a></li>
	<li><a href='#'><span>Контакты</span></a></li>
</ul>