<div id='cssmenu'>
	{% render url('listMenu') %}
	<a class="fancybox" href='#menu-edit'><i class="icon-pencil"></i></a>
</div>
<div id="menu-edit">
	<div>
		<span id="add-node" class="btn btn-primary">Добавить</span> 
		<span id="delete-node" class="btn btn-danger">Удалить</span> 
		<span id="rename-node" class="btn btn-info">Переименовать</span>
	</div>
	<div  id="cssmenu-edit">
		{% render url('listMenu') %}
	</div>
</div>