<ul>
	<li id="item-1"><a href='#'><span>Главная</span></a></li>
	<li id="item-2" class='has-sub '><a href='#'><span>Портфолио</span></a>
		<ul>
			<li id="item-6"><a href='#'><span>Галерея 1</span></a>
			</li>
			<li id="item-7"><a href='#'><span>Галерея 2</span></a>
			</li>
		</ul>
	</li>
	<li id="item-3"><a href='#'><span>Обо мне</span></a></li>
	<li id="item-4"><a href='#'><span>Цены</span></a></li>
	<li id="item-5"><a href='#'><span>Контакты</span></a></li>
</ul>