<table>
	<tr>
		<td class="text-container" style="width: 40%;">
			<a class="fancybox" href='#text-edit'><i class="icon-pencil"></i></a>
			<div style="clear:both"></div>
			{{ page.text }}
		</td>
		<td class="photo-container"><img class="big-image" src="http://www.shtern.ru/storage/photos/21/0_ekatirina-stern-d913ba37d4d1b2b1c115a625a41d854e.jpg" style="width:100%"/></td>
	</tr>
</table>
<div id="text-edit">
	<div class="tinyEdit">{{ page.text }}</div>
	<span class="btn">Сохранить</span>
</div>