{% extends 'ApplicationPortfolioBundle::layout.html.twig' %}

{% block body %}
	<div class="gallery-container">
		{% render url('slider', {'gallery' : permalink }) %}

		<div class="big-image-container">
			<a class="fancybox" href='#photo-edit'><i class="icon-pencil"></i></a>
			<img class="big-image" src="/images/705x470/{{ image.url }}" style="width:100%"/>
		</div>

	</div>
	<div id="photo-edit">
		<ul id="sortable">
			{% for img in images  %}
				<li id="photo_{{ img.id }}" class="ui-state-default"><img class="big-image" src="/images/72x72/{{ img.url }}" /></li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}