{% extends 'ApplicationPortfolioBundle::layout.html.twig' %}

{% block body %}
	<div class="gallery-container">
		{% render url('slider', {'gallery' : permalink }) %}

		<div class="big-image-container">
			{% if is_granted('ROLE_ADMIN') %}
				<a class="fancybox" href='#photo-edit'><i class="icon-pencil"></i></a>
			{% endif %}
			<img class="big-image" src="/images/705x470/{{ image.url }}" style="width:100%"/>
		</div>

	</div>
	{% if is_granted('ROLE_ADMIN') %}
		{% render url('photosEdit', {'nav_id' : nav_id }) %}
	{% endif %}
{% endblock %}