<div class="slider fr">
    <a href="" class="slider-item-link">
        <img class="slider-image" src="http://www.shtern.ru/storage/photos/21/s-ekatirina-stern-c17f5809e155ca5872129477e30eca99.jpg" />
    </a>
    <a href="" class="slider-item-link">
        <img class="slider-image" src="http://www.shtern.ru/storage/photos/21/s-ekatirina-stern-c17f5809e155ca5872129477e30eca99.jpg" />
    </a>
    <a href="" class="slider-item-link">
        <img class="slider-image" src="http://www.shtern.ru/storage/photos/21/s-ekatirina-stern-c17f5809e155ca5872129477e30eca99.jpg" />
    </a>
    <a href="" class="slider-item-link">
        <img class="slider-image" src="http://www.shtern.ru/storage/photos/21/s-ekatirina-stern-c17f5809e155ca5872129477e30eca99.jpg" />
    </a>
    <a href="" class="slider-item-link">
        <img class="slider-image" src="http://www.shtern.ru/storage/photos/21/s-ekatirina-stern-c17f5809e155ca5872129477e30eca99.jpg" />
    </a>
    <a href="" class="slider-item-link">
        <img class="slider-image" src="http://www.shtern.ru/storage/photos/21/s-ekatirina-stern-c17f5809e155ca5872129477e30eca99.jpg" />
    </a>
</div>