<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}Сайт фотографа{% endblock %}</title>
</head>
<body>
	<div id="content">
		{% block header %}{% endblock %}
		{% block body %}{% endblock %}
	</div>
</body>
</html>